@media screen and (min-width: 1025px){
    // Globale Variables
    $backgroundColor: #444;
    $border: 1px solid blue;
    $font-size: 0.7em;
    $font-weight: Bold;
    $font-family: Sacramento;

    // Sass
    @mixin display($align-item: center, $justify-content: center, $direction: column, $width: 60vw, $height: 100vh) {
        display: flex;
        flex-direction: $direction;
        align-items: $align-item;
        justify-content: $justify-content;

        width: $width;
        height: $height;
    }

    // Middle Section
    /*------------------------------------------------------------------------------------------------------------*/
    /*
    *The middle section is devided into two main parts. 
    *-The heading section containing two distinct seperations. 
    *    -To the left, the name of the current panel we are in.
    *    -To the right a search bar
    *-A large drag and drop box necesarry to upload excel files to the DB
    */
    .uploadList{
        @include display($justify-content: start);
        // border: $border;
        background-color: #ddd;
        // margin: 2vh 0;

        // Fist main section.
        .heading {
            @include display($justify-content: space-between, $direction: row, $width: 90%, $height: 10vh);
            margin-bottom: 5vh;
            // border: 1px solid red;

            // Commented Just in case it might be needed in some distant future.
            .name {
                font-size: 1.5em;
                color: rgb(29, 29, 59);
            }
            .searchBar {
                #form1 {
                    border: none;
                }
                .btn-edit {
                    border: none ;
                    background-color: rgb(40, 141, 187);
                    margin-left: 0.5vw;
                    border-radius: 20%;
                    height: 6.3vh;
                }
            }
        }

        // Second main section.
        .uploadExcelFile {
            @include display($width: 54.7vw, $height: 80vh);

            background-color: #fff;

            .photoContainer {
                @include display($width: 100%, $height: 30vh, $direction: row);
                // border: 1px solid red;
    
                .userPhoto {
                    @include display($width: 50%, $height: 100%);
                    background-color: #fff;
                    // border-radius: 50%;
                    // margin: 0 1vw;
    
                    // Little Img
                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
            }
    
            .addNewContainer {
                @include display($width: 100%, $height: 38vh, $direction: row);
                padding: 2%;
                // border: 1px solid black;
    
    
                .firstlineContainer {
                    // border: 1px solid black;
                    width: 25%;
                    height: 36vh;

                    .example-full-width {
                        width: 95% !important;
                    }
                }
    
                .secondLineContainer {
                    // border: 1px solid blue;
                    width: 25%;
                    height: 36vh;
                    // width: 100%;
                    .example-full-width {
                        width: 95% !important;
                    }
                }

                .thirdContainer {
                    // border: 1px solid red;
                    width: 25%;
                    height: 36vh;
                    .example-full-width {
                        width: 95% !important;
                    }
                }
    
                .lastlineContainer {
                    // border: 1px solid green;
                    width: 25%;
                    height: 36vh;
                    // width: 100%;
                    .example-full-width {
                        // margin-left: 1vw;
                        width: 99% !important;
                    }
                }
            }
    
           .confirm {
                @include display($width: 100%, $height: 12vh, $direction: row);
                // padding: 5%;
                // border: 1px solid magenta;
    
                .btn-edit1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8vw;
                    font-size: 0.7em;
                    background-color: #fff;
                    color: rgb(40, 141, 187);
                    border: 1px solid rgb(40, 141, 187);
        
                    margin-left: 0.5vw;
                    height: 6.3vh;
        
                    .material-icons {
                        margin: 0 0.5vw;
                    }
                }
    
                .btn-edit1:hover {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8vw;
                    border: none ;
                    font-size: 0.7em;
                    background-color: rgb(40, 141, 187);
                    color: #fff;
    
                    margin-left: 0.5vw;
                    height: 6.3vh;
        
                    .material-icons {
                        margin: 0 0.5vw;
                    }
                }
            } 
        }
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1024px){
}
@media screen and (min-width: 481px) and (max-width: 768px){
}
@media screen and (min-width: 321px) and (max-width: 480px) { 
}
@media only screen and (min-width: 0px) and (max-width: 320px){
}