@media screen and (min-width: 1025px){
    // Globale Variables
    $backgroundColor: #444;
    $border: 1px solid blue;
    $font-weight: Bold;
    $font-family: Sacramento;

    // Sass
    @mixin display($align-item: center, $justify-content: center, $direction: row, $width: 100%, $height: 100vh) {
        display: flex;
        flex-direction: $direction;
        align-items: $align-item;
        justify-content: $justify-content;

        width: $width;
        height: $height;
    }

    // Start.
    /*---------------------------------------------------------------------------------------------*/
    // Main container with every section within.
    .mainContainer{
        @include display();
        // background-color: $backgroundColor;
    }

    /*---------------------------------------------------------------------------------------------*/
    // Left Panel
    /*
    *The left panel has components that toggle between each other 
    *Using the NG-
    *When clicked changes view in the middle section according to need.
    */
    .leftPanel{
        @include display($justify-content: start, $direction: column, $width: 17%);
        // border: $border;
        background-color: #fff;

        .logo {
            width: 100%;
            height: 10vh;
            // border: 1px solid red;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .list {
            @include display($width: 100%, $height: 10vh);
            padding: 3% 0 3% 3%;
            // color: rgb(40, 141, 187);
            color: #444;
            // border: $border;
            
            .space{
                background-color: rgb(40, 141, 187);
                margin-left: 2%;
                width: 2.5%;
                height: 7vh;
                // border: 2px solid blue;
            }
            .material-icons {
                width: 30%;
                // border: 2px solid blue;
                padding-left: 1.7vw;
            }
            .list-name {
                width: 65%;
                // border: 2px solid blue;
            }
        }
        .list:hover {
            color: rgb(40, 141, 187);
            cursor: pointer;
        }
    }
    /*---------------------------------------------------------------------------------------------*/
    // Middle Section
    /*
    *The middle section is devided into two main parts. 
    *-The heading section containing two distinct seperations. 
    *    -To the left, the name of the current panel we are in.
    *    -To the right a search bar
    *-A large drag and drop box necesarry to upload excel files to the DB
    */
    .uploadList{
        @include display($justify-content: start, $direction: column, $width: 60%);
        // border: 1px solid red;
        background-color: #ddd;

    }
    /*---------------------------------------------------------------------------------------------*/
    // Right Section
    /*
    *Right Section is none changing.
    *Display informations regarding the actual user profile
    *Img, name, location, notifications etc
    */
    .profileEditor{
        @include display($justify-content: start, $direction: column, $width: 23%);
        // border: $border;

        .name {
            @include display($justify-content: space-between, $width: 100%, $height: 10vh);
            // border: $border;

            .profile {
                width: 60%;
                padding-left: 2vw;
            }
            .settingsIcon {
                @include display($align-item: center, $justify-content: center, $width: 20%, $height: 10vh);
                // border: 1px solid red;
            }
            // Main div containing smaller div and an Image in it.
            .accountImg {
                width: 20%;
                padding-right: 2vw;
                // border: $border;

                // Inner Div easily shaped so the wider div fits in the gap of spacing.
                .imgKl {
                    @include display($width: 30px, $height: 30px);
                    background-color: #ddd;
                    border-radius: 50%;

                    // Little Img
                    img {
                        width: 105%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
            }
        }
        .profileImg {
            @include display($width: 150px, $height: 150px);
            background-color: #ddd;
            border-radius: 50%;
            // border: $border;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
            }
        }
        .adminName {
            @include display($height: 6vh);
            font-weight: $font-weight;
            font-size: x-large;
            // border: $border;
        }
        .role {
            @include display($height: 6vh);
            font-family: $font-family;
            font-size: 1.5em;
            color: #666;
        }
        .location {
            @include display($height: 6vh);
            color: rgb(40, 141, 187);
            font-size: large;
            // border: $border;

            .material-icons {
                @include display($width: 20px, $height: 20px);
                align-items: center;
                width: 20px;
                height: 20px;
                padding-right: 1vw;
            }
        }
        .notifications {
            @include display($justify-content: start, $direction: column, $height: 46vh);
            // border: 1px solid palevioletred;

            .notifContainer {
                @include display($justify-content: space-between, $height: 6vh);
                // border: 1px solid black;

                .notif {
                    padding-left: 2vw;
                    font-size: large;
                    // border: $border;
                }
                .notificationsIcon {
                    padding-right: 3vw;
                    // border: $border;
                }
            }

            // Contains the list of Notifications recieved. Details on how it works provided in the HTML as Description.
            // First Major Container.
            .notificationsListContainer {
                @include display($justify-content: start, $direction: column, $height: 46vh);
                // border: 1px solid black;
                overflow: auto;
                overflow-x: hidden;
                overflow-y: scroll;

                // Singular Box
                .notificationsList {
                    @include display($width: 95%, $height: 8vh);
                    margin: 1%;
                    border: 1px solid #ddd;
                    // background-color: #ddd;
                    border-radius: 2%;
                    // border: 1px solid blue;
    
                    // Img of User who created the Notification
                    .notifImg {
                        @include display($width: 35px, $height: 35px);
                        background-color: #ddd;
                        border-radius: 50%;
                        margin: 0 2vw;
                        margin-left: -10%;
    
                        // Little Img
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: contain;
                        }
                    }
                    .detailInfo {
                        width: 55%;
                        font-size: small;

                        .notifName {
                            @include display($align-item: flex-end, $justify-content: flex-start, $width: 100%, $height: 5vh);
                            // border: 2px solid red;
                            color: rgb(40, 141, 187);
                        }

                        // Devided into two smaller parts.
                        .detailInfoBottomContainer {
                            @include display($width: 100%, $height: 5vh);


                            .infoRole {
                                @include display($justify-content: flex-start, $width: 50%, $height: 5vh);
                                font-size: 1em;
                                font-family: $font-family;
                                margin-top: -15%;
                                margin-left: -47%;
                            }

                            .date {
                                @include display($width: 50%, $height: 5vh);
                                font-size: 0.7em;
                            }
                        }
                    }
                    .infoTime {
                        @include display($align-item: flex-end, $width: 20%, $height: 7vh);
                        font-size: 0.7em;
                        color: #444;
                        margin-top: -10%;
                        // border: 1px solid red;
                    }
                }
            }

            // Extra Touches
/*----------------------------------------------------------------------------------------------*/
            /* Hide scrollbar for Chrome, Safari and Opera */
            .notificationsListContainer::-webkit-scrollbar  {
                    display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            .notificationsListContainer  {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }

            // Make hover effect
            .notificationsList:hover {
                background-color: #ddd;
                cursor: pointer;
            }
/*----------------------------------------------------------------------------------------------*/
        }
    }
    // End.
}
/*---------------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1024px){
}
@media screen and (min-width: 481px) and (max-width: 768px){
}
@media screen and (min-width: 321px) and (max-width: 480px) { 
}
@media only screen and (min-width: 0px) and (max-width: 320px){
}
